@media (max-width:1230px) {

    /* card Section */
    div.card h2 {
        font-size: 1rem;
    }

    div.card a:nth-child(3) {
        padding: 12px 0;
    }
}

@media (max-width:1130px) {

    /* Card Section */
    div.card {
        width: 31.8%;
    }

    /* card section */
    div.card h2 {
        font-size: 1.1rem;
    }

    /* customer viewed items on my browsing history */
    .customer_views .views .view {
        max-width: 20%;
        margin: 15px;
    }

    .customer_views .views .view img {
        width: 90%;
    }

    .customer_views .views .view a.desc {
        font-size: .9rem;
    }
}



@media (max-width:1033px) {

    /* Header section */
    nav {
        display: flex;
        flex-direction: column;
        background-color: #232f3e;
    }

    div.top_most_nav {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        padding: 0 11px;
        color: white;
    }

    div.bottom_nav a {
        border: none;
    }

    .sidebar {
        display: flex;
        align-items: center;
    }

    .sidebar .menu_bar span {
        font-size: 2rem;
        color: white
    }

    div.top_most_nav img {
        width: 0
    }

    .top_most_nav .top_logo {
        width: 5.3rem;
        margin-left: 8px;
    }

    .top_most_nav .top_logo img {
        width: 100%
    }

    .top_nav {
        height: 8vh;
        justify-content: center;
    }

    .top_nav .logo {
        display: none;
    }

    div.location {
        display: none;
    }

    div.language {
        display: none
    }


    div.gift {
        display: none;
    }

    div.search {
        width: 97%;
    }

    div.search input {
        border-radius: 4px 0 0 4px;
        height: 7vh;
    }

    div.search_icon {
        width: 8%;
        height: 7vh;
    }

    div.cart {
        display: none;
    }

    div.top_cart {
        color: white;
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    div.top_cart span:nth-child(1) {
        font-size: .8rem;
    }

    div.top_cart span:nth-child(2) {
        margin-right: 12px
    }

    .top_cart .material-symbols-outlined {
        font-size: 1.9rem !important
    }

    div.bottom_nav {
        background-color: #131921;
    }


    div.dynamic {
        display: none;
    }

    div.nav-res {
        visibility: visible;
        height: 8vh;
    }

    /* card section */
    div.card h2 {
        font-size: 1.1rem;
    }
}

@media (max-width:930px) {

    /* Banner Section */
    section.banner {
        height: 45vh
    }

    /* card section */
    div.card h2 {
        font-size: 1rem;
    }
}

@media (max-width:860px) {
    html {
        font-size: 15px;
    }

    /* header section */
    div.search input {
        height: 7vh;
    }

    div.search_icon {
        height: 7vh;
    }

    /* banner section */
    section.banner {
        height: 42vh
    }

    /* customer viewed items on my browsing history */
    .customer_views .views .view {
        max-width: 20%;
        margin: 15px 17px;
    }

    /* footer Section */
    div.list {
        margin: 10px 50px;
    }
}

@media (max-width:787px) {

    html {
        font-size: 12px;
    }

    /* header section */
    div.search_icon #custom_search {
        color: #0F1111;
        font-size: 1.9rem;
    }

    div.top_cart span:nth-child(1) {
        font-size: 1rem;
    }

    .sidebar .menu_bar span {
        font-size: 2.2rem;
    }

    div.bottom_nav a {
        font-size: 1.1rem;
    }

    /* banner section */
    section.banner {
        height: 35vh
    }

    section.banner .quote {
        display: none
    }

    section.banner .quote {
        display: none
    }

    /* card section */
    div.card h2 {
        font-size: 1.2rem;
    }

    div.card a:nth-child(3) {
        font-size: 1rem;
    }
}

@media (max-width:740px) {

    /* Header section */
    div.search {
        height: 6vh;
    }

    div.search input {
        border-radius: 4px 0 0 4px;
        height: 6vh;
        font-size: 1.2rem;
    }

    div.search_icon {
        width: 25px;
        height: 6vh;
    }

    div.nav-res {
        overflow-x: hidden;
    }

    /* card section */
    div.card {
        width: 48.3%;

    }

    div.card h2 {
        font-size: 1.4rem;
    }

    div.card a:nth-child(3) {
        font-size: 1.1rem;
    }
}

@media (max-width:661px) {
    html {
        font-size: 11px;
    }

    /* header section */
    div.bottom_nav a {
        font-size: 1rem;
    }
}

@media (max-width:594px) {

    /* header section */
    div.search_icon {
        width: 11%;
    }

    /* banner section */
    section.banner {
        height: 30vh
    }

    /* customer viewed items on my browsing history */
    .customer_views_item .customer_views {
        padding: 0 14px;
    }

    /* footer Section */
    div.icons .icon {
        margin: 0
    }

    div.pic {
        display: none;
    }

    div.amazon_details {
        margin: 0;
    }

    /* footer end parts */
}

@media (max-width:479px) {
    html {
        font-size: 12px;
    }

    /* header section */

    div.search_icon {
        width: 12%;
    }

    div.search_icon #custom_search {
        font-size: 1.7rem;
    }

    /* banner section */
    section.banner .quote {
        display: none
    }

    /* card section */
    div.card {
        width: 100%;
    }

    div.card h2 {
        font-size: 1.6rem;
    }

    div.card a:nth-child(3) {
        font-size: 1.3rem;
    }
}

@media (max-width:392px) {
    /* header section */

    div.search_icon {
        width: 14%;
    }

    /* banner section */
    section.banner {
        height: 25vh
    }

    /* customer viewed items on my browsing history */
    .customer_views .views .view {
        margin: 9px 39px;
    }

    div.rate i {
        font-size: .6rem;
        color: #ffa41c;
    }
}

@media (max-width:292px) {
    /* customer viewed items on my browsing history */

    div.rate i {
        font-size: .4rem;
        color: #ffa41c;
    }
}