@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eeefef;
}

/* Header section */
nav {
    background-color: #131921;
}

div.top_most_nav {
    height: 0;
    display: none
}

div.top_most_nav img {
    width: 0
}

.top_nav {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10.5vh;
}

.top_nav .logo {
    width: 10%;
    cursor: pointer;
}

.top_nav .logo:hover {
    border: 1px solid white
}

.top_nav .logo img {
    width: 100%
}

.country #loc_icon {
    font-size: 1.2rem;
    margin-right: 1px;
}

div.location {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 12px
}

div.location:hover {
    border: 1px solid white
}

div.country {
    display: flex;
    align-items: end;
}

.location .deliver {
    padding-left: 18px;
    color: #ccc;
    font-size: .8rem;
    letter-spacing: .2px;
}

div.country .india {
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

div.search {
    display: flex;
    align-items: center;
    width: 43%;
    height: 7vh;
}

div.search input {
    width: 96%;
    border-radius: none;
    padding: 5px 10px;
    font-size: 16px;
    height: 6.4vh;
    border: none;
    outline-offset: 2px solid #febd69;
}

div.search:focus {
    outline: 2px solid #febd69;
}

div.gift {
    padding: 10px 0;
}

div.gift select {
    height: 6.5vh;
    width: 100%;
    color: #0F1111;
    background-color: #e6e6e6;
    border-radius: 4px 0 0 4px;
    text-align: center;
    font-size: .7rem;
    font-weight: 700;
    outline-offset: 2px solid #febd69;
}

div.gift select:hover {
    cursor: pointer
}

div.search_icon {
    width: 13%;
    background-color: #febd69;
    height: 6.4vh;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    cursor: pointer;
}

div.search_icon #custom_search {
    color: #0F1111;
    font-size: 1.5rem;
}

div.language {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    padding: 14px 8px
}

div.language:hover {
    border: 1px solid white;
}

div.language .lang {
    font-weight: 800;
    font-size: .8rem;
    text-align: right;
}

div.language span {
    width: 21px;
}

div.language span img {
    width: 100%
}

div.cart {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    cursor: pointer
}

.cart .material-symbols-outlined {
    font-size: 1.7rem !important
}

div.cart:hover {
    border: 1px solid white
}

div.bottom_nav {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #232f3e;
    padding: 0 5px;
}

div.bottom_nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: .9rem;
    padding: 8px 10px;
}

div.bottom_nav a:hover {
    border: 1px solid white
}

div.nav-res {
    visibility: hidden;
    height: 0;
}

a.menu {
    display: flex;
    align-items: center;
}

/* banner section */
section.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    background-color: #ffffff;
    background-image: url("../image/game.jpg");
    background-size: 118%;
    background-position: top 0 right 38%;
    background-repeat: no-repeat;
    background-color: #eeefef;
}

section.banner .quote {
    text-align: center;
    background-color: #f5f6f6;
    color: #0F1111 !important;
    padding: 10px 14px !important;
    width: 95%;
    margin: 0 auto;
    align-self: center;
    margin-top: 150px;
}

section.banner .quote span {
    font-size: .9em;
}

section.banner .quote a {
    color: #007185;
    text-decoration: none;
}

section.banner .quote a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #C7511F;
}

/* Card Section */
section.cards {
    width: 100%;
    margin: 15px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.card {
    max-width: 274px;
    padding: 0 20px;
    background-color: #fff;
    margin: 10px 0;
}

div.card h2 {
    padding: 15px 0;
    font-size: 1.2rem;
    text-align: left;
}

div.card img {
    width: 100%
}


div.card a:nth-child(3) {
    font-size: .9rem;
    text-decoration: none;
    color: #007185;
    display: block;
    padding: 14px 0;
}

div.card a:hover {
    color: #C7511F;
}

/* Special features */
h2 section.Special_features {
    display: flex;
    flex-direction: column;
}

div.features {
    width: 95%;
    margin: 15px auto;
    background-color: #ffffff;
    padding: 20px;
}

div.features h2 {
    margin: 10px 0 0;
    font-size: 1.4rem;
}

div.feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item,
.new-item {
    max-width: 270px;
    max-height: 250px;
    padding: 10px;
}

.item img {
    width: 100%
}

.new-item img {
    width: 75%
}

/* customer viewed items on my browsing history */
.customer_views_item {
    background-color: #fff;
    padding: 40px 0px 25px;
    margin: 12px 0 0;
}

.customer_views_item .customer_views {
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 0 30px;
}

.customer_views .views {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 30px;
    flex-wrap: wrap;
}

div.headline {
    display: flex;
}

div.headline p {
    text-align: right;
    padding: 20px 0;
    width: 20%;
    font-size: .9rem;

}

.customer_views h2 {
    font-size: 1.1rem;
    padding: 20px 0;
    letter-spacing: .8px;
    width: 80%;
    justify-content: space-between;
}

.customer_views .views .view {
    max-width: 14%;
    /* border:1px solid black */
}

.customer_views .views .view img {
    width: 100%;
}

.customer_views .views .view a.desc {
    font-size: .9rem;
    text-decoration: none;
    color: #007185;
    display: block;
    /* padding:14px 0; */
}

.view a {
    text-decoration: none;
}

div.rate {
    font-size: 1.1rem;
    text-decoration: none;
    color: #007185;
}

div.rate i {
    font-size: .9rem;
    color: #ffa41c;
}

a.price span:nth-child(1) {
    color: black;
    font-size: .8rem;
}

a.price span:nth-child(2) {
    color: black;
    font-size: 1.1rem;
}

div.ads {
    font-size: .7rem;
    margin: 4px 0
}

/* Sign in Section */
div.sign_in {
    border-top: 1px solid #DDD;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 18px;
}

div.sign_in a {
    text-decoration: none;
}

div.sign_in .btn {
    margin: 5px 0px;
    padding: 5px 92px;
    background-image: linear-gradient(#ffd978, #ffc83e);
    border-radius: 3px;
    font-weight: 600;
    font-size: .8rem;
    border: 1.4px solid #e6a400;
    text-shadow: 0 1px 0 #e6a400;
    cursor: pointer;
}

div.title_sign {
    font-size: .8rem;
}

div.Sign_up {
    font-size: .7rem;
}

div.Sign_up a {
    color: #007185
}

/* footer Section */
footer div.back_top {
    background-color: #37475A;
    color: #FFF;
    text-align: center;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
    cursor: pointer
}

footer div.footer_columns {
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #232F3E;
    color: #fff;
    border-bottom: 1px solid #3a4553;
}

footer div.footer_columns ul {
    margin: 0;
    list-style-type: none;
}

footer div.footer_columns ul li {
    margin: 0 0 10px;
}

footer div.footer_columns ul li a {
    font-size: .9rem;
    color: #DDD;
    text-decoration: none;
}

footer div.footer_columns ul li a:hover {
    text-decoration: underline;
}

footer div.footer_columns h2 {
    font-weight: 700;
    font-size: 1rem;
    margin: 6px 0 14px 0;
    white-space: nowrap;
}

div.icons {
    background-color: #232F3E;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.icons .icon {
    display: flex;
    justify-content: center;
    margin: auto
}

div.pic {
    width: 86px;
}

div.icons .icon .pic img {
    width: 100%;
    filter: invert(100%)
}

div.amazon_details {
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.lang_choose {
    display: block;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    font-size: 13px;
    margin-right: 6px;
    color: #CCC;
    text-decoration: none;
    display: flex;
}

a.lang_choose:active {
    box-shadow: 0 1px 3px 0 #8D9096 inset;
}

a.lang_choose span:nth-child(1) {
    font-size: 1rem;
    color: white;
}

a.lang_choose span:nth-child(2) {
    font-size: .8rem;
    padding: 0 0.6em;
}


a.lang_choose i {
    font-size: .9rem;
}

span.flag_pic {
    width: 20px
}

span.flag_pic img {
    width: 100%
}

/* footer end parts */
footer div.copyright {
    background-color: #131A22;
    max-width: 100%;
    margin: 0;
    padding: 13px 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .8rem;
}

footer div.copyright ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 3px;
}

footer div.copyright ul li a {
    padding: 0 0.6em;
    text-decoration: none;
    color: #DDD;
}

footer div.copyright ul li a:hover {
    text-decoration: underline;
}

footer div.copyright span {
    color: #DDD;
    padding: 0 0.6em;
}